telegram-pdf-to-markdown.n8n.json
{
  "name": "Telegram PDF → Markdown (OpenDataLoader)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "odl-telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-authorized-chat",
              "leftValue": "={{ $json.message?.chat?.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "IF: Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-pdf-mime",
              "leftValue": "={{ $json.message?.document?.mime_type ?? '' }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-image-mime",
              "leftValue": "={{ $json.message?.document?.mime_type ?? '' }}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "cond-photo",
              "leftValue": "={{ ($json.message?.photo ?? []).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "IF: Supported File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⏳ Received your file. Converting to Markdown, please wait...",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Telegram: Acknowledge",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env['TELEGRAM_BOT_TOKEN'] }}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $('Telegram Trigger').item.json.message.document?.file_id ?? $('Telegram Trigger').item.json.message.photo.last().file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "HTTP: Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $env['TELEGRAM_BOT_TOKEN'] }}/{{ $json.result.file_path }}",
        "responseFormat": "file",
        "outputPropertyName": "data",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "HTTP: Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const { execFile } = require('child_process');\n\nconst filePath = $('HTTP: Get File Path').first().json.result.file_path;\nconst botToken = $env['TELEGRAM_BOT_TOKEN'];\nconst msg = $('Telegram Trigger').first().json.message;\nconst chatId = String(msg.chat.id);\n// Photos arrive without a document wrapper and are always JPEG\nconst mimeType = msg.document?.mime_type || 'image/jpeg';\nconst originalName = msg.document?.file_name || `photo_${msg.message_id}.jpg`;\nconst fileName = originalName.replace(/\\.[^.]+$/, '') + '.md';\n\nconst pyScript = `\nimport sys, urllib.request\n\nbot_token = sys.argv[1]\nfile_path = sys.argv[2]\ncontent_type = sys.argv[3]\nurl = f\"https://api.telegram.org/file/bot{bot_token}/{file_path}\"\n\nwith urllib.request.urlopen(url) as r:\n    file_data = r.read()\nsys.stderr.write(f\"downloaded {len(file_data)} bytes\\\\n\")\n\nreq = urllib.request.Request(\"http://opendataloader:5002/convert\", data=file_data, method=\"POST\")\nreq.add_header(\"Content-Type\", content_type)\nwith urllib.request.urlopen(req, timeout=270) as r:\n    sys.stdout.buffer.write(r.read())\n`;\n\n// Must stay async (execFile, not spawnSync): a blocked event loop misses the\n// runner's 5s broker heartbeats and the task gets aborted as \"unresponsive\".\nconst { error, stdout, stderr } = await new Promise((resolve) => {\n  execFile('python3', ['-c', pyScript, botToken, filePath, mimeType], {\n    timeout: 280000,\n    maxBuffer: 50 * 1024 * 1024,\n    encoding: 'buffer'\n  }, (error, stdout, stderr) => resolve({ error, stdout, stderr }));\n});\n\nif (error) {\n  const detail = (stderr && stderr.length) ? stderr.toString('utf-8') : error.message;\n  throw new Error('Conversion failed: ' + detail);\n}\n\nconst mdContent = stdout.toString('utf-8');\nif (!mdContent) throw new Error('No markdown content received');\n\nreturn [{\n  json: { chatId, fileName, charCount: mdContent.length, success: true },\n  binary: {\n    data: {\n      data: Buffer.from(mdContent, 'utf-8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName,\n      fileExtension: 'md'\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Code: Convert PDF → MD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $json.chatId }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=✅ Conversion complete! *{{ $json.fileName }}*\n📄 {{ $json.charCount }} characters",
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Telegram: Send Markdown File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Please send a *PDF file* or an *image* to convert to Markdown.\n\nSupported: PDF, PNG, JPEG, TIFF, BMP, WebP.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Telegram: Unsupported File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Conversion failed:\n\n`{{ $json.error?.message || $json.message || 'Unknown error' }}`\n\nPlease try again with a different file.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Telegram: Conversion Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF: Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Authorized?": {
      "main": [
        [
          {
            "node": "IF: Supported File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Acknowledge": {
      "main": [
        [
          {
            "node": "HTTP: Get File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get File Path": {
      "main": [
        [
          {
            "node": "HTTP: Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download PDF": {
      "main": [
        [
          {
            "node": "Code: Convert PDF → MD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Convert PDF → MD": {
      "main": [
        [
          {
            "node": "Telegram: Send Markdown File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Conversion Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Supported File?": {
      "main": [
        [
          {
            "node": "Telegram: Acknowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Unsupported File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "versionId": "odl-pdf-telegram-v2"
}